/* Applies throughout whole document */

* {
    margin: 0;
    padding: 0;  
    font-family: 'Jost', sans-serif; 
    font-size: 16px;
}

/* Global variables for color palette */

:root {
    --neonRed: #ff3131;
    --neonBlue: #04d9ff; 
    --neonPurple: #8956f1;
    --neonGreen: #68fe9a;
    --neonYellow: #ffffbf; 
    --offBlack: #1b1c1e; 
    --offWhite: #fdfdfd; 
}

/* Navbar formatting */ 

.header {
    width: 100%;
    margin: 0 auto;
}

.box {
    height: 62px;
    background-color: var(--offBlack);
    width: 100%;
    z-index: 12;
    position: fixed;
    overflow: hidden; 
}

.navbar {
    line-height: 60px;
}

/* Formatting links inside navbar */

.navbar a {
    text-decoration: none;
    margin: 30px;
    color: var(--offWhite);
    padding: 17px 20px;
}

.wrapper {
    display: none;
}

/* Effects for links inside nav bar */

.home:hover {
    border: 1px solid var(--neonBlue);
    box-shadow: 3px 3px 3px var(--neonBlue);
}

.about:hover {
    border: 1px solid var(--neonRed);
    box-shadow: 3px 3px 3px var(--neonRed);   
}

.resume:hover {
    border: 1px solid var(--neonPurple);
    box-shadow: 3px 3px 3px var(--neonPurple);
}

.portfolio:hover {
    border: 1px solid var(--neonGreen);
    box-shadow: 3px 3px 3px var(--neonGreen);
}

@media screen and (max-width: 650px) {
    .header {
        display: none;
    }

    /* Hamburger bar menu inspired by: https://codepen.io/yuhomyan/pen/WNwGywp */ 

    .wrapper{
        display: inline;
        position: fixed;
        height: 100%;
        width: 100%;
        right: 0;
        background: var(--offBlack);
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.25s ease-in-out;
    }
    #active:checked ~ .wrapper{
        clip-path: circle(100%);
    }
    .menu-btn{
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: var(--offWhite);
        cursor: pointer;
        background: var(--offWhite);
        transition: all 0.3s ease-in-out;
    }
    .fa-bars-staggered {
        color: var(--offBlack);
        font-size: 25px;
        margin: 13px;
    }
    #active:checked ~ .menu-btn{
        color: var(--offWhite);
    }
    .wrapper ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }
    .wrapper ul li{
        margin: 15px 0;
    }
    .wrapper ul li a{
        color: none;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 21px 25px;
        color: var(--offWhite);
        position: relative;
        line-height: 82px;
        transition: all 0.3s ease;
    }
    .wrapper ul li a:after{
        position: absolute;
        content: "";
        width: 104%;
        height: 110%;
        left: -2%;
        transform: scaleY(0);
        z-index: -1;
        animation: rotate 1.5s linear infinite;
        transition: transform 0.3s ease;
    }
    .wrapper ul li a:hover:after{
        transform: scaleY(1);
    }
    .wrapper ul li a:hover{
        color: var(--offWhite);
    }
    input[type="checkbox"]{
        display: none;
    }
    @keyframes rotate {
        0%{
            filter: hue-rotate(0deg);
        }
        100%{
            filter: hue-rotate(360deg);
        }
    }
}

/* Home Page */

.home_body {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/neon_road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
    padding: 0;
    color: var(--offWhite);
}
    
/* Text over background image */
    
.overlay {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    color: var(--offWhite);
    padding-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; 
}

/* Name appears first, then blurb */

.name {
    padding-right: 5%;
    padding-left: 5%; 
    font-family: 'Titillium Web', sans-serif;
    font-size: 80px;
    animation: neon 2s ease forwards;
}

.intro {
    font-size: 20px;
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    opacity: 0;
    animation: appear 1.5s ease-out 1.5s forwards;
}

@keyframes neon {
    100% {
        color: var(-offWhite);
        text-shadow: 0px 0px 20px var(--neonYellow); 
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

/* About Page */

.about_body {
    text-align: center;
    min-height: 100%;
    padding: 0;
    background-color: var(--offBlack);
}

.about_main {
    z-index: -1;
    position: absolute;
}

.photo_box {
    min-height: 250px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b0082+0,ff3131+50,fff01f+100&0.75+0,0.75+100 */
    background: -moz-linear-gradient(-45deg,  rgba(75,0,130,0.75) 0%, rgba(255,49,49,0.75) 50%, rgba(255,240,31,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(75,0,130,0.75) 0%,rgba(255,49,49,0.75) 50%,rgba(255,240,31,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(75,0,130,0.75) 0%,rgba(255,49,49,0.75) 50%,rgba(255,240,31,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4b0082', endColorstr='#bffff01f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
    position: relative;
    margin-top: 32px;
    overflow: hidden;
}

/* Check if I need to add another breakpoint to */ 

.photo_box h1 {
    font-size: 40px;
    color: var(--offWhite);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.description {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    margin: 10vw;   
    font-family: 'Titillium Web', sans-serif;
}

.text {
    padding-left: 75px; 
    flex-direction: column;
}

.about_main p {
    color: var(--offWhite);
    text-align: left; 
}

.container {
    margin-left: 25px; 
}

.my_photo { 
    width: 200px; 
    float: left; 
}

.offset_borders {
    width: 200px;
    position: relative;
    float: left;
}

.offset_borders::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 3px solid var(--offWhite);
    position: absolute;
    box-sizing: border-box;
    top: -25px;
    left: -25px;
    z-index: -2;
}

.offset_borders::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--neonRed);
    position: absolute;
    box-sizing: border-box;
    top: 25px;
    left: 25px;
    z-index: -1;
}

@media screen and (max-width: 1000px) {
    .description {
        display: inline-block;
        padding: 10px 0;   
        place-items: center;
    }
    .container {
        float: left; 
        margin: 30px 75px 75px 40px; 
    }
    .text {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 650px) {
    .photo_box {
        margin-top: 0; 
    }

    .container {
        margin: 25px 0 0 0; 
        float: none; 
    }

    .description {
        display: flex;
        flex-direction: column;
        place-content: center;
        justify-content: center;
        align-items: center; 
        padding: 0;
        margin: 0 auto; 
        margin-top: 75px;
        margin-bottom: 75px;
        width: 80%;  
    }

    .text {
        padding-left: 0;
        padding-right: 0;
    }

    .offset_borders {
        margin-bottom: 75px; 
        place-content: center;
        justify-content: center;
        align-items: center;
    }
}

/* Resume page */ 

.resume_body {
    text-align: center;
    min-height: 100%;
    background-color: var(--offWhite);
}

.resume_main {
    color: var(--offBlack);
    font-family: 'Titillium Web', sans-serif;
    left: 2%;
    z-index: -1;
    position: absolute; 
}

.resume_content {
    text-align: left;
    margin: auto;
    width: 70%;  
    padding: 100px 0px 70px 0px;
}

.my_name {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.resume_headings {
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .resume_content {
        padding-top: 70px;
    }
}

/* Portfolio Page */ 

.portfolio_body {
    text-align: center;
    min-height: 100%;
    padding: 0; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/neon_lines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
} 

.portfolio_main {
    text-align: center; 
    color: var(--offWhite);
    font-family: 'Titillium Web', sans-serif;
    margin: auto;  
    z-index: -1;
    position: absolute;
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project_container {
    display: grid;
    place-self: center; 
    place-items: center;
    height: auto;
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.projects {
    height: 400px;
    width: 250px;  
    /* Glassmorphism effect implemented using: https://hype4.academy/tools/glassmorphism-generator */ 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} 

.project_img {
    height: 275px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
}  

.project_heading {
    margin: 0px 20px 20px 20px; 
}

@media screen and (max-width: 1100px) {
    .project_container {
        height: auto;
        width: 80vw;
        margin-top: 0;
        padding-top: 500px;
        padding-bottom: 60px;
    }
} 

@media screen and (max-width: 650px) {
    .project_container {
        display: flex;
        flex-direction: column;
        place-content: center;
        justify-content: center;
        align-items: center; 
        margin-top: 1275px;
        padding-top: 0;
        padding-bottom: 0;
    }
} 
